# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
nohup.out
add_comments.py
add_comments_to_tree.sh
add_comments.py
log/events.out.tfevents.1589277615.hewensongdeAir.lan
save_models/.DS_Store
save_models/1589277614/checkpoints/checkpoint
save_models/1589277614/checkpoints/model-1000.data-00000-of-00001
save_models/1589277614/checkpoints/model-1000.index
save_models/1589277614/checkpoints/model-1000.meta
save_models/1589277614/checkpoints/model-1100.data-00000-of-00001
save_models/1589277614/checkpoints/model-1100.index
save_models/1589277614/checkpoints/model-1100.meta
save_models/1589277614/checkpoints/model-1200.data-00000-of-00001
save_models/1589277614/checkpoints/model-1200.index
save_models/1589277614/checkpoints/model-1200.meta
save_models/1589277614/checkpoints/model-1300.data-00000-of-00001
save_models/1589277614/checkpoints/model-1300.index
save_models/1589277614/checkpoints/model-1300.meta
save_models/1589277614/checkpoints/model-1400.data-00000-of-00001
save_models/1589277614/checkpoints/model-1400.index
save_models/1589277614/checkpoints/model-1400.meta
save_models/1589277614/checkpoints/vocab
save_models/.DS_Store
save_models/1589277614/checkpoints/model-1500.data-00000-of-00001
save_models/1589277614/checkpoints/model-1500.index
save_models/1589277614/checkpoints/model-1500.meta
save_models/.DS_Store
log/events.out.tfevents.1589279319.hewensongdeAir.lan
save_models/1589277614/.DS_Store
save_models/1589277614/checkpoints/model-3700.data-00000-of-00001
save_models/1589277614/checkpoints/model-3700.index
save_models/1589277614/checkpoints/model-3700.meta
save_models/1589277614/checkpoints/model-3800.data-00000-of-00001
save_models/1589277614/checkpoints/model-3800.index
save_models/1589277614/checkpoints/model-3800.meta
save_models/1589277614/checkpoints/model-3900.data-00000-of-00001
save_models/1589277614/checkpoints/model-3900.index
save_models/1589277614/checkpoints/model-3900.meta
save_models/1589277614/checkpoints/model-4000.data-00000-of-00001
save_models/1589277614/checkpoints/model-4000.index
save_models/1589277614/checkpoints/model-4000.meta
save_models/1589277614/checkpoints/model-4100.data-00000-of-00001
save_models/1589277614/checkpoints/model-4100.index
save_models/1589277614/checkpoints/model-4100.meta
save_models/1589279319/checkpoints/checkpoint
save_models/1589279319/checkpoints/model-1000.data-00000-of-00001
save_models/1589279319/checkpoints/model-1000.index
save_models/1589279319/checkpoints/model-1000.meta
save_models/1589279319/checkpoints/model-1100.data-00000-of-00001
save_models/1589279319/checkpoints/model-1100.index
save_models/1589279319/checkpoints/model-1100.meta
save_models/1589279319/checkpoints/model-1200.data-00000-of-00001
save_models/1589279319/checkpoints/model-1200.index
save_models/1589279319/checkpoints/model-1200.meta
save_models/1589279319/checkpoints/model-1300.data-00000-of-00001
save_models/1589279319/checkpoints/model-1300.index
save_models/1589279319/checkpoints/model-1300.meta
save_models/1589279319/checkpoints/model-1400.data-00000-of-00001
save_models/1589279319/checkpoints/model-1400.index
save_models/1589279319/checkpoints/model-1400.meta
save_models/1589279319/checkpoints/vocab
